doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title STudent DB
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='https://www.google.com/recaptcha/api.js')
    script.
      $(document).ready(function() {
        $('#comment_form').submit(function() {
          $(this).ajaxSubmit({
            error: function(xhr) {
              status('Error: ' + xhr.status);
            },
          success: function(response) {
            console.log(response);
          }
          });
          //Very important line, it disable the page refresh.
          return false;
        });
      });
    style(type='text/css').
      .forgot-form {
      width: 400px;
      margin: 50px auto;
      }
      .forgot-form form {
      margin-bottom: 15px;
      background: #f7f7f7;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      padding: 30px;
      }
      .forgot-form h2 {
      margin: 0 0 15px;
      }
      .form-control, .btn {
      min-height: 38px;
      border-radius: 2px;
      }
      .btn {
      font-size: 15px;
      font-weight: bold;
      }
      h5{
        margin-bottom:1rem;
      }
      legend {
        font-size: 35px;
      }
  body
  .container
    if messages.error
      .alert.alert-danger
        div= messages.error
    if messages.info
      .alert.alert-info
        div= messages.info
    if messages.success
      .alert.alert-success
        div= messages.success
  .forgot-form
    form(action='/forgotpassword', method='post')
      legend Forgot Password
      .form-group
        p To reset your password you must enter a valid email address below:
        label(for='email') Your Email
        input.form-control(type='text', name='mail', autofocus)
      .form-group
        .g-recaptcha.item-center(data-sitekey='6LdplE0UAAAAAGnRq93bYVoFnGUIC3aUpSE0KpAw')
      .form-group
        button.btn.btn-primary.btn-block(type='submit') Reset Password
      .clearfix
        a.pull-right(href='/') Back to Login ?
