body {
  padding-top: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px ;
}

h1 {
  padding-bottom: 2rem;

}
h2 {
  padding-bottom: 2rem;

}

h3 {
  padding-bottom: 1rem;
}
/* 
h5 {
  padding-left: 1rem;
} */

.border{
  margin-bottom: 15px;
  padding: 30px;
}

.table-center{
  text-align: center;
}

p {
  font-size: 12px;
}
ul.nav li a, ul.nav li a:visited {
  color: #f7f7f7 !important;
}

.form1 {
  padding-right:5rem;
  padding-left: 5rem;
}

.form2 {
  align-items: center;
}

.dropdown-menu .dropdown-item.text-dark{
  color: black !important;
}

.border-security {
  margin-right: 10rem;
  margin-left: 10rem;

}

.line{
  width: 44rem;
  height: 4rem;
  border-bottom: 1px solid black;
  position: absolute;
  /* margin-bottom: 10rem; */
  }

.flash-content {
  width: 500px;
  margin: 10px auto;
}